In [1]:
# ANS 1
import pandas as pd

# create a series of integers
list = pd.Series([4,8,15,16,23,42])
print(list)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
# ANS 2
import pandas as pd

series_var = pd.Series(['h','d','y','h','i','d','l','k','l','h'])
print(series_var)

0    h
1    d
2    y
3    h
4    i
5    d
6    l
7    k
8    l
9    h
dtype: object

In [13]:
# ANS 3

import pandas as pd 
data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25 , 30 , 27 ] ,
        'Gender' : ['Female' , 'Male' , 'Female' ]}
df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [16]:
type(df)

pandas.core.frame.DataFrame

# ANS 4

Series is a one-dimensional labeled array capable of holding any data
type (integers, strings, floating point numbers, Python objects, etc.)

DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. 
It is like a spreadsheet or SQL table, or a dict of Series objects. It is generally the most commonly used pandas object.

In [20]:
import pandas

fruit = pandas.Series(["apples", "oranges", "bananas"], name = "fruit_series")


print(fruit)

0     apples
1    oranges
2    bananas
Name: fruit_series, dtype: object

In [21]:
type(fruit)

pandas.core.series.Series

In [22]:
import pandas as pd

##### INITIALIZATION #####

fruits_jack = ["apples", "oranges", "bananas"]
fruits_john = ["guavas", "kiwis", "strawberries"]
index = ["a", "b", "c"]
all_fruits = {"Jack's": fruits_jack, "John's": fruits_john}



new_fruits = pd.DataFrame(all_fruits, index = index)
print(new_fruits )

    Jack's        John's
a   apples        guavas
b  oranges         kiwis
c  bananas  strawberries

In [23]:
type(new_fruits)

pandas.core.frame.DataFrame

###  ANS5

    Some commonly used function to maipulate data are as follows :
    df.head()
    df.columns
    len(df)
    df.drop()
    df[‘’].dtypes
    df.tail()

 # example  
 
.len()Provides with the length of the DataFrame.

In [25]:
len(new_fruits)

3

# Ans6

Both series and data frames are mutable .

### Ans 7

In [35]:

import pandas as pd

courses = pd.Series(["Spark","PySpark","Hadoop"] ,name = 'Course ' )
fees = pd.Series([22000,25000,23000] , name = 'Fees ')
discount  = pd.Series([1000,2300,1000] , name = 'Discount')

df=pd.concat([courses,fees,discount],axis=1)
print(df)

   Course   Fees   Discount
0    Spark  22000      1000
1  PySpark  25000      2300
2   Hadoop  23000      1000